.topbar-container {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #0776e8;
    color: white;
    align-items: center;
    position: sticky;
    top: 0;
}

.topbar-leftside {
    flex: 3;
}

.topbar-leftside .logo{
    font-size: 24px;
    font-weight: bold;
    margin-left: 12px;
}

.topbar-center {
    display: flex;
    justify-content: center;
    flex: 5;
}

.topbar-center .searchbar{
    display: flex;
    align-items: center;
    background-color: white;
    height: 40px;
    width: 400px;
    border-radius: 50px;
}

.topbar-center .searchbar i{
    font-size: 18px;
    margin-left: 12px;
    color: black;
}

.topbar-center .searchbar input{
    font-size: 18px;
    margin-left: 6px;
    border: none;
    width: 85%;
}


.topbar-center .searchbar input:focus{
    outline: none;
}

.topbar-rightside {
    display: flex;
    flex: 4;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.topbar-rightside .icon-item {
    position: relative;
    color: white;
}

.topbar-rightside .icon-item i {
    font-size: 24px;
}


.topbar-rightside .icon-item .icon-badge {
    font-size: 12px;
    width: 16px;
    background-color: red;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}

.logoutButton {
    cursor: pointer;
}