.comments-modal-container, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
    backdrop-filter: blur(2px);
}

.comments-modal-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f0f2f5;
    padding: 14px 14px;
    border-radius: 3px;
    max-width: 1800px;
    min-width: 800px;
}

.comments-modal-wrapper .close-button {
    position: absolute;
    top: 0px;
    right: 20px;
    padding: 5px 7px;
    border: none;
    width: 24px;
    height: 24px;
    color: rgb(255, 76, 76);
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.comments-heading{
    text-align: center;
}

.no-comments-msg{
    text-align: center;
    font-weight: 600;
    color: #0776e8;
    margin-top: 12px;
}

.comments-list{
    list-style: none;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

