.profile-container{
    display: flex;
}

.profile-left-bar,
.profile-right-bar {
    height: calc(100vh - 60px);
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}

.profile-left-bar {
    flex: 10;
}

.profile-right-bar {
    flex: 2;
    border-left: 1px solid;
}