.comment-item-container{
    display: flex;
    gap: 8px;
    align-items: center;
}

.comment-owner-profile-pic{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.comment-content {
    background-color: #ffffff;
    padding: 6px 12px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px #aaaaaa;
}

.comment-owner-username{
    text-decoration: none;
    font-weight: bold;
    color: #0776e8;
}