.create-post-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    border: none;
    border-radius: 24px;
    background-color: #ffffff;
    padding: 24px;
    width: 600px;
    box-shadow: 2px 2px 2px #aaaaaa;
}

.create-post-heading {
    text-align: center;
    margin-bottom: 12px;
}

.create-post-upper{
    display: flex;
    align-items: center;
    gap: 12px;
}

.create-post-profile-pic{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.create-post-input{
    width: 500px;
    height: 24px;
    border: none;
    border-radius: 24px;
    padding: 12px;
    background-color: #f0f2f5;
    font-size: 16px;
    padding-left: 20px;
}

.create-post-input:hover{
    background-color: #d0d0d0;
    cursor: pointer;
}

.create-post-input:focus{
    background-color: #d7d6d6;
    cursor: auto;
    outline: none;
}

.create-post-lower{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.create-post-lower i {
    color: green;
}

.add-file {
    cursor: pointer;
}

#file{
    display: none;
}

.post-button{
    width: 100px;
    padding: 6px;
    background-color: #0776e8;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 12px;
}

.post-button:hover{
    width: 98px;
}